[submodule "third_party/GMR"]
	path = third_party/GMR
	url = https://github.com/dnjsxor999/GMR_fork.git
[submodule "third_party/GVHMR"]
	path = third_party/GVHMR
	url = https://github.com/whitealex95/GVHMR.git
[submodule "third_party/TWIST"]
    path = third_party/TWIST
    url = https://github.com/whitealex95/TWIST.git
    branch = switch4eai
